/* Global style rules */
body {
  background-image: linear-gradient(
    to left bottom,
    #d02018,
    #d5003f,
    #cd0064,
    #b70087,
    #901ca7,
    #7a29aa,
    #6232aa,
    #4637a9,
    #522f95,
    #572982,
    #582470,
    #552060
  );
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  line-height: 1.75;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 42px;
  line-height: 52px;
}

p {
  font-size: 18px;
  margin-block-start: 0em;
}

h2 {
  font-size: 32px;
  margin-top: 0;
}

h2,
h3,
h4 {
  margin-bottom: 0.5em;
}
